@media(min-width:320px){
   
 

 
   

    .content-footer{
        min-height: 40rem;
        width: 100%;
    }
    /* .nav-list {
        flex-direction: column;
        text-align: center;
    } */
    /* form{
        margin-top: 5rem;
       } */

       

    .content-image{
        flex-direction: column;
    }

    .popular-content{
        justify-content: center;
    }
 
   
}
@media (min-width:476px) {
    h1{
        right: 2%;
        top:24%;
     }

     .popular-item{
        margin-left: 1rem;
        margin-right: 1rem;
     }

}
 
@media (min-width:576px) {
    .form button{
        width: auto;
    }

}


 
 
 @media (min-width:576px) {
   .about-us{

    width: 100%;
    /* min-height: 80rem; */
    flex-direction: column;
   
    justify-content: flex-start;
   
   } 

   .about-us-left{
       text-align: center;
   }

  

 
  .submit{
      width: auto;
      margin-top: 1rem;
  }
  .content-news-input{
    width: auto;
  }





   .content-new{
    min-height: 25rem;
   }

  
   .content-footer{
    min-height: 30rem;
    width: 100%;
}
/* .about-picture{
    max-width: ;
} */
    
.nav-list {
    flex-direction: row;
    justify-content: space-around;
    width: 55rem;
   
}

.nav-item{
    margin-left: 1.5rem;
}
.shopping-box{
    width: 40rem;
}
.content-image{
    margin-top: 10rem;
}
h1{right: 8%;
top: 24%;
}

.swiper-slide{
    width: auto !important;
}
.popular-item{
    width: 30rem;
}
 
}

@media (min-width:768px) {
   .popular-content{
    /* justify-content: space-between; */
   }

   .content-new{
    min-height: 20rem;
    padding-bottom: 1.5rem;
   }

  
}

@media (min-width:992px) {
    .content-footer{
        min-height: auto;
        width:auto;
    }
    .content-news{
        flex-direction: column;
        margin-top: 3rem;
       
      }
      h1{
        font-size: 12rem;
      }
      .popular-item{
        width: 40rem;
    }
     
      /* .content-news{
        height: auto;
      } */
      .about-us{
        align-items: center;
        

    }

}

@media (min-width:1200px) {

    .about-us{
        width: auto;
        min-height: auto;
        flex-direction: row;
        

    }

    .about-us-right{
        margin-left:1rem;
    }
  
}
@media (min-width:1300px) {
    .about-us-right{
        margin-left:2.5rem;
    }
}